<div class="container">
  <h1>Listagem de usuários</h1>
  <button (click)="openUserForm()">Novo usuário</button>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <span class="delete-icon" (click)="deleteUser(user.id)">&#x1F5D1;</span>
        </td>
      </tr>
    </tbody>
  </table>
  <app-user-form *ngIf="showForm" (formClosed)="formClosed()"></app-user-form>
</div>
